<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="visvateam.outsource.idmanager.activities"
    android:installLocation="preferExternal"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:maxSdkVersion="17"
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.STORAGE" />

    <application
        android:name="visvateam.outsource.idmanager.idletime.ControlApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="visvateam.outsource.idmanager.activities.login.TermOfServiceActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="visvateam.outsource.idmanager.activities.EnterOldPasswordActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="visvateam.outsource.idmanager.activities.MasterPasswordActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="visvateam.outsource.idmanager.activities.PasswordGeneratorActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="visvateam.outsource.idmanager.activities.MasterPasswordChangeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="visvateam.outsource.idmanager.activities.SetupRemoveDataActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="visvateam.outsource.idmanager.activities.SetupSecurityModeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="visvateam.outsource.idmanager.activities.SettingActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="visvateam.outsource.idmanager.activities.homescreen.HomeScreeenActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name="visvateam.outsource.idmanager.activities.CopyItemActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="visvateam.outsource.idmanager.activities.EditIdPasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="visvateam.outsource.idmanager.activities.homescreen.DragAndDropListViewDemo"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="visvateam.outsource.idmanager.activities.synccloud.DropBoxSyncActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="visvateam.outsource.idmanager.activities.synccloud.SyncCloudActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="visvateam.outsource.idmanager.activities.synccloud.DropboxSettingActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="visvateam.outsource.idmanager.activities.synccloud.GGDriveSettingActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="visvateam.outsource.idmanager.activities.GGDriveSyncActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="visvateam.outsource.idmanager.activities.BrowserActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="visvateam.outsource.idmanager.activities.BrowserJogdialActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="visvateam.outsource.idmanager.activities.ImageMemoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="visvateam.outsource.idmanager.activities.GetInternetImageActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="visvateam.outsource.idmanager.activities.ListIconActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="visvateam.outsource.idmanager.activities.SettingURLActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="visvateam.outsource.idmanager.activities.EditIconActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="visvateam.outsource.idmanager.activities.RegisterEmailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="visvateam.outsource.idmanager.activities.export.ExportDataDropBoxActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="visvateam.outsource.idmanager.activities.export.ExportDataGGDriveActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.dropbox.client2.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask" >
            <intent-filter>

                <!-- Change this to be db- followed by your app key -->
                <data android:scheme="db-fxh7pnxcqbg3qwy" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="visvateam.outsource.idmanager.activities.AuthenticationActivity"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name="com.box.androidlib.activities.BoxAuthentication"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name="visvateam.outsource.idmanager.activities.securityservice.SecurityMasterPasswordActivity"
            android:screenOrientation="portrait" >
        </activity>

        <service android:name="visvateam.outsource.idmanager.activities.securityservice.SecurityService" >
        </service>
    </application>

</manifest>