<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="visvateam.outsource.idmanager.activities"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="visvateam.outsource.idmanager.activities.login.TermOfServiceActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="visvateam.outsource.idmanager.activities.MasterPasswordActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="visvateam.outsource.idmanager.activities.PasswordGeneratorActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="visvateam.outsource.idmanager.activities.MasterPasswordChangeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="visvateam.outsource.idmanager.activities.SetupRemoveDataActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="visvateam.outsource.idmanager.activities.SetupSecurityModeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="visvateam.outsource.idmanager.activities.SettingActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="visvateam.outsource.idmanager.activities.homescreen.HomeScreeenActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="visvateam.outsource.idmanager.activities.homescreen.DragAndDropListViewDemo"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>